.mat-menu-panel.notifications-dropdown {
  max-width:none;
  width: 100vw; 
  margin-left: -8px;
  margin-top: 24px;
  overflow: visible;
}

.notification-row{
  width: 424px;
}

.mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.mat-button {
  color:teal;
  width: 300px;
  height: 100px;
  background-color: white;
  font-size:xx-large;
  text-align:left;
  border-color: white;
  padding:0%
}
.mat-menu-item{
  color:teal;
  
  background-color: white;
  font-size:xx-large;
  text-align:left;
  width: 300px;

}
::ng-deep .mat-menu-panel {
  padding: 0 10px!important;
  width: 100%!important;
}